
          <div class="talks">
            <h2>invited talks</h2>
            <div class="table-responsive">
              <table class="table table-sm table-borderless">
              {%- assign talks = site.talks | reverse -%}
              {% for item in talks %}
                <tr>
                  <th scope="row">{{ item.date | date: "%b %Y" }}</th>
                  <td>
                    {% if item.inline -%}
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%}
                      <a class="talk-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %}
                  </td>
                </tr>
              {%- endfor %}
              </table>
            </div>
          </div>
