---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill"
;

.publications .title a {
  text-decoration: none;
}

.publications .title a:hover {
  text-decoration: underline;
}

.publications .award strong {
  color: #e06c00 !important;
  font-weight: 500;
  font-size: 1em;
  margin-top: 2px;
  margin-bottom: 5px;
}

.publications .preview.z-depth-1 {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1) !important;
}